@use "../../scss-vars/media-queries" as *;

.details-language {
  &__definition-wrapper {
    position: relative;
    padding: 5px 0 15px 0;
  }

  &__definition-title {
    letter-spacing: 1px;
  }

  &__grammar-details {
    display: block;

    &--hide {
      display: none;
    }
  }

  &__example-title {
    margin-top: 10px;
    text-align: left;
  }

  &__example {
    margin-top: 10px;
    text-align: left;
  }

  &__antonyms-synonyms {
    display: flex;
    width: 100%;
    margin-top: 10px;
  }

  &__antonyms,
  &__synonyms {
    flex-basis: 50%;
  }

  &__antonyms-title,
  &__synonyms-title {
    text-align: left;
  }

  &__antonyms-one,
  &__synonyms-one {
    margin-top: 5px;
    text-align: left;
  }

  &__line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: orange;

    &--hide {
      display: none;
    }
  }
}
