@use "../../scss-vars/media-queries" as *;

.details-language {
  height: calc(70vh - 50px);
  padding: 10px;
  margin: 0 10px;
  background-color: rgba(255, 255, 255, 0.1);
  overflow-y: auto;

  scrollbar-width: thin;
  scrollbar-color: auto;

  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: orange;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-corner {
    background-color: rgb(240, 239, 239);
  }

  @include media-queries(medium) {
    padding: 20px;
    margin: 0 20px;
  }

  &__word {
    margin-bottom: 5px;
    color: #e2e2e2;
    letter-spacing: 1px;
    text-align: left;
  }

  &__phonetic {
    display: block;
    margin-bottom: 10px;
    color: #c7c7c7;
    text-align: left;
  }
}
