@use "../../scss-vars/media-queries" as *;

.languages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 100px);
  column-gap: 10px;
  row-gap: 10px;
  padding: 10px;

  @include media-queries(small) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 120px);
  }

  @include media-queries(medium) {
    grid-template-rows: repeat(4, 150px);
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px;
  }

  @include media-queries(large) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 150px);
  }

  @media (min-width: 1080px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 150px);
  }

  &__tail {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid transparent;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.2s linear;

    &--active {
      border: 2px solid orange;
    }
  }

  &__icon-wrapper {
    display: flex;
    justify-content: center;
  }

  &__icon {
    display: block;
    max-width: 60%;
    transition: 0.2s linear;

    &--active {
      transform: scale(1.05);
    }

    @include media-queries(medium) {
      max-width: initial;
    }
  }

  &__name {
    color: #333333;
    font-size: 1.3rem;

    @include media-queries(small) {
      font-size: 1.4rem;
    }

    @include media-queries(large) {
      font-size: 1.6rem;
    }
  }
}
