@use "./scss-vars/media-queries" as *;

.app {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 95%;
    min-height: 70vh;
    margin: 50px 0 0 0;

    @include media-queries(medium) {
      width: 75%;
    }

    @include media-queries(large) {
      width: 60%;
    }
  }
}
